@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <form action="/" method="post">
                <button asp-controller="Soa" asp-action="Index" class="btn btn-primary">
                    Go To SOA
                </button>
            </form>
        </div>
    </div>
</div>